<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logins</title>
    <style>
        * {
            font-family: "fira code";
            border-color: black !important;
        }
    </style>
    <link rel="stylesheet" href="static/pico.min.css">
</head>
<body>
    <main class="container">
        <form action="/" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </main>
</body>
</html>